.about {
    margin: auto;
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
}

.about-text {
    margin: auto;
    color: var(--textColor);
    max-width: 500px;
    text-align: center;
}

.about-text-wrapper {
    background-color: var(--cardColor);
    border-radius: 35px;
    padding: 35px;
}

@media (max-width: 834px) {
    .about-text-wrapper {
        margin-left: 20px;
        margin-right: 20px;
    }
}