.contacts {
    max-width: 800px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    text-align: center;
}

.contacts-form {
    background-color: var(--cardColor);
    padding: 35px;
    border-radius: 35px;
}

.biiiig {
    margin-bottom: 20px;
    margin-top: 20px;
}

.input-group {
    position: relative;
}

.contacts-input {
    border: solid 1.5px var(--textColor);
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: var(--textColor);
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 50px;
}

.contacts-textarea {
    resize: none !important;
    width: 100%;
    height: 155px;
}

.message {
    margin-top: 10px;
}

.contacts-label {
    position: absolute;
    left: 15px;
    color: transparent;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
}

.contacts-input:focus,
contacts-input:valid {
    outline: none;
    border: 1.5px solid var(--inputFocusColor);
}

.contacts-input:focus ~ label,
contacts-input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: var(--cardColor);
    padding: 0 0.2em;
    color: var(--inputFocusColor);
    visibility: visible;
}

.contacts-button {
    width: 100%;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 10px 30px;
    margin: 0;
    margin-top: 10px;
    position: relative;
    display: inline-block;
    letter-spacing: 0.6px;
    font-weight: 700;
    font-size: 17px;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--primaryButton);
    color: var(--buttonTextColor);
    transition: ease-in-out 50ms;
}

.contacts-button span {
    position: relative;
    z-index: 10;
    transition: color 150ms;
}

.contacts-button:hover span {
    color: var(--textHoverColor);
}

.contacts-button:active {
    transform: scale(0.95);
}

@media (max-width: 834px) {
    .contacts-form {
        margin-left: 20px;
        margin-right: 20px;
    }
}
