.hero-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
}

.hero-svg {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.hero-down-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    top: 80%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid var(--secondaryColor);

    transition: all 150ms;
    text-align: center;
    color: var(--secondaryColor);
}

.hero-down-button:hover {
    border: 3px solid var(--primaryButton);
    cursor: pointer;
    transform: rotate(360deg) scale(1.1);
    color: var(--primaryButton);
}

.hero-down-button:active {
    transform: scale(0.9);
}

.hero-down-button:hover .hero-down-button-arrow {
    background: var(--primaryButton);
    transform: scale(1.1);
}

.hero-down-button-arrow {
    width: 25px;
    height: 25px;
    margin-top: 5px;
    
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background: var(--secondaryColor);
}

.hero-scroll {
    transform: scale(1.2);
    position: absolute;
    display: flex;
    height: 100px;
    top: 35%;
    align-self: center;
    font-weight: bolder;
    font-size: 32px;
    border: 1px solid transparent;
    background-color: var(--mainBackgroundColor);
    padding: 15px;
    border-radius: 15px;
    white-space: nowrap;
}

.hero-scroll p {
    align-self: center;
}

.hero-words {
    overflow: hidden;
}

.hero-words span {
    display: block;
    text-align: left;
    margin: auto;
    height: 60px;
    line-height: 60px;
    width: 320px;
    margin-left: 16px;
    border-radius: 15px;
    animation: spin-words 5s infinite;
    background-color: var(--primaryButton);
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 22px;
}

.hero-words span text {
    align-self: center;
}

/* pirmas 0px
antras -60px
trecias -120px */

@keyframes spin-words {
    10% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(-74px);
    }
    40% {
        transform: translateY(-68px);
    }
    60% {
        transform: translateY(-144px);
    }
    70% {
        transform: translateY(-136px);
    }
    90% {
        transform: translateY(0px);
    }
}

@media (max-width: 700px) {
    .hero-scroll {
        transform: scale(1);
    }
}

@media (max-width: 512px) {
    .hero-scroll {
        transform: scale(0.8);
    }
}

@media (max-width: 428px) {
    .hero-scroll {
        transform: scale(0.8);
    }
    .hero-scroll p {
        font-size: 24px;
    }
}
@media (max-width: 380px) {
    .hero-scroll {
        transform: scale(0.65);
    }
    .hero-scroll p {
        font-size: 24px;
    }
}
