* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: top;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
    background: linear-gradient(#dd8e8e, #3a2222);
    height: 300px;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

.logo-a {
    position: relative;
    margin: 20px;
    text-decoration: none;
    color: var(--textColor);
    transition: 0.5s;
    cursor: pointer;
}

.logo-a:hover {
    color: var(--textHoverColor);
}

nav a {
    position: relative;
    margin: 20px;
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s;
    color: var(--textColor);
}

nav a:hover {
    color: var(--textHoverColor);
}

nav a:active {
    transform: scale(0.8);
    backface-visibility: hidden;
}

header .nav-btn {
    position: absolute;
    top: 4px;
    right: 53px;
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
    transition: 0.5s;
    color: var(--textColor);
}

.nav-btn:active {
    transform: scale(0.8);
    backface-visibility: hidden;
}

.nav-btn:hover {
    color: var(--textHoverColor);
}

.nav-open-btn {
    margin-top: 8px;
}

header div,
nav {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 0.5s;
    }
    
    header .responsive_nav {
        clip-path: none;
        transform: translateY(100vh);
        z-index: 999;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 12px;
        right: 53px;
    }

    nav a {
        font-size: 1.5rem;
    }
}
