.projects-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card{
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 300px;
    border-radius: 35px;
    padding: 15px;
    background-color: var(--cardColor);
    text-align: center;
    justify-content: space-between;
    flex-basis: 33%;
}

.project-title{
    width: 100%;
    margin-bottom: 15px;
}

.project-image{
    width: 80%;
    border-radius: 15px;
    overflow: hidden;
}

.project-description{
    width: 100%;
    margin-bottom: 15px;
}

.project-links{
    display: flex;
    justify-content: space-evenly;
}

.project-button{
    width: 60px;
}

@media (max-width: 1000px) {
    .project-card {
      width: 100%;
      flex-basis: 90%;
    }
  }