.projects {
    margin-top: 120px;
}

.projects-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 300px;
    border-radius: 35px;
    padding: 15px;
    background-color: var(--cardColor);
    text-align: center;
    justify-content: space-around;
    flex-basis: 33%;
}

.project-title {
    width: 100%;
    font-size: 22px;
    margin-bottom: 15px;
}

.project-image {
    width: 80%;
    border-radius: 15px;
    overflow: hidden;
}

.project-description {
    width: 100%;
    margin-bottom: 15px;
}

.project-technologies{
    color: rgb(90, 90, 90);
}

.project-links {
    display: flex;
    justify-content: space-evenly;
}

.project-button {
    width: 80px;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 10px;
    margin: 0;
    letter-spacing: 0.6px;
    font-weight: 700;
    font-size: 17px;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--primaryButton);
    color: var(--buttonTextColor);
    transition: ease-in-out 50ms;
}

.project-button span {
    position: relative;
    text-align: center;
    z-index: 10;
    transition: color 150ms;
}

.project-button:hover span {
    color: var(--textHoverColor);
}

.project-button:active {
    transform: scale(0.95);
}

@media (max-width: 1000px) {
    .project-card {
        width: 100%;
        max-width: 800px;
        flex-basis: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .projects-flex{
        margin-left: 20px;
        margin-right: 20px;
    }
}
