.skills {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.skills-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--cardColor);
    border-radius: 35px;
    gap: 15px;
    width: 100%;
    max-width: 800px;
    align-self: center;
    height: 200px;
    position: relative;
}

.skills-title {
    margin-bottom: 5px;
}

.skills-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skills-express {
    background-color: #eee;
    height: 20px;
}

.skills-express svg {
    position: relative;
    margin-top: -14px;
}

.skills-item {
    width: 50px !important;
    align-self: center;
}

.skills-languages {
    position: absolute;
    top: 15px;
    left: 20px;
}

.skills-front {
    position: absolute;
    top: 15px;
    right: 20px;
}

.skills-back {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.skills-other {
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.skills-languages .skills-title {
    text-align: left;
}

.skills-front .skills-title {
    text-align: right;
}

.skills-back .skills-title {
    text-align: left;
}

.skills-other .skills-title {
    text-align: right;
}

@media (max-width: 728px) {
    .skills-main-container {
        flex-direction: column;
        height: 100%;
    }

    .skills-languages {
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
        margin-top: 15px;
    }

    .skills-front {
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
    }

    .skills-back {
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
    }

    .skills-other {
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
        margin-bottom: 15px;
    }

    .skills-languages .skills-title {
        text-align: center;
    }

    .skills-front .skills-title {
        text-align: center;
    }

    .skills-back .skills-title {
        text-align: center;
    }

    .skills-other .skills-title {
        text-align: center;
    }
}
