:root {
    --mainColor: #6d6dce;
    --cardColor: #121212;
    --mainBackgroundColor: #0a0216;
    --navbarBackgroundColor: #0a0216;
    --navbarHoverColor: #646cff;
    --primaryButton: #5f263c;
    --textColor: #ebe5e5;
    --textHoverColor: #9b7181;
    --secondaryColor: #eee;

    --anchorColor: #646cff;

    color: var(--textColor);
    background-color: var(--mainBackgroundColor);
    scroll-behavior: smooth;
}

.biiiig {
    text-align: center;
}

a {
    font-weight: 500;
    color: var(--anchorColor);
    text-decoration: inherit;
    transition: all 150ms;
}
a:hover {
    color: var(--textHoverColor);
}
