:root {
    --mainColor: #6d6dce;
    --cardColor: #121212;
    --mainBackgroundColor: #0a0216;
    --navbarBackgroundColor: #0a0216;
    --primaryButton: #57178b;
    --textColor: #ebe5e5;
    --textHoverColor: #535bf2;
    --secondaryColor: #eee;

    color: var(--textColor);
    background-color: var(--mainBackgroundColor);
    scroll-behavior: smooth;
}

.biiiig {
    text-align: center;
}